@media only screen and (min-width:1400px) and (max-width: 2000px) {
    .container {
        max-width: 1320px;
        display: block;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .header {
        background-color: rgba(31, 48, 129, 0.3);
        opacity: 0.985;
        z-index: 4;
    }

    .header .header-content .logo-section {
        flex: 0 0;
    }

    .header .header-content #logo {
        max-width: 171px;
        height: 35px;
    }

    .header .header-content .menu-box {
        display: none;
    }

    .header .header-content .menu-list {
        display: flex;
        justify-content: center;
        list-style: none;
        line-height: 4.5;
    }

    .header .header-content .menu-list li {
        margin-left: 0px;
        position: static;
        padding: 0px 15px;
        line-height: 3;
    }

    .header .header-content .menu .menu-list li .menu-item {
        display: block;
    }

    .header .header-content .menu .menu-list li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    .header .header-content .fa-plus {
        display: none;
    }

    .header .header-content .fa-chevron-down {
        font-size: 10px;
        margin-left: 5px;
        /* margin-bottom: 2px; */
    }

    .header .header-content .menu .menu-list .menu-item {
        display: block;
        align-items: center;
        /* justify-content: center; */
        padding: 0px 0px 0px 0px;
        /* color: white; */
        width: fit-content;
    }

    .header .header-content .menu .menu-list li .submenu li {
        border-bottom: 1px solid #f1f1f1;
        padding: 0;
    }

    .header .header-content .menu .menu-list li .submenu li:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .header .header-content .menu .menu-list li .submenu li a {
        width: 197px;
        padding: 10px 15px;
        color: #404040;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0px 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 43px;
        transition: 0s;
    }

    .header .header-content .menu .menu-list li .submenu li:last-child a {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .header .header-content .menu .menu-list li .submenu li a:hover {
        background-color: #7b68ee;
        color: #fff;
        transition: all 0.15s ease-in-out;
    }


    .header .header-content .menu .menu-list li .submenu {
        visibility: hidden;
        background-color: white;
        position: absolute;
        background-color: #fff;
        border-top: 2px solid #7b68ee;
        margin: -6px 0 0 1px;
        padding: 0;
        list-style: none;
        z-index: 2;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(23px);
        transition: transform 0.5s ease-in-out;
        margin-left: -15px;
    }

    .header .header-content .menu .menu-list li:hover .submenu {
        visibility: visible;
        transform: translateY(8px);
        transition: transform 0.5s ease-in-out;
    }

    .header .header-content .menu .menu-list li .submenu li a {
        color: #212529;
    }

    .social-icon-list a {
        width: 45px;
        height: 45px;
        font-size: 21px;
    }

    .main-body::before {
        height: 800px;
    }

    .hero-section {
        top: 143px;
        padding-top: 70px;
    }

    .hero-left-inner p {
        font-size: 18px;
    }

    .hero-section .hero-section-inner .hero-right-inner img {
        width: 565px;
        height: 560px;
    }


    /* ----Service-section-start--- */

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner .home-service-item {
        width: 33%;
    }

    /* ----Service-section-end--- */


    /* ----Hire-section0-start--- */

    .home-hire-section .home-hire-section-inner0 .home-hireP {
        font-size: 18px;
    }

    .home-hire-section .home-hire-section-inner0 .home-hireH {
        font-size: 45px;
        line-height: 1.3;
    }

    /* ----Hire-section0-end--- */


    /* ----Technology-start--- */


    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door {
        width: 18%;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .door {
        height: 47.5px;
        width: 100%;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .top-door img {
        margin-top: 47px;
        transform: scale(1.1);
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .bottom-door img {
        margin-bottom: 47px;
        transform: scale(1.1);
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .top-door h3 {
        font-size: 23px;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .bottom-door h3 {
        font-size: 23px;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .hidden-door {
        height: 47.5px;
        width: 182px;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door .hidden-door a {
        font-size: 14px;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door:hover .top-door {
        transform: translateY(-15px);
        width: 100%;
    }

    .home-technology-section .home-technology-section-inner .home-technology-bottom .home-technology-bottom-inner .trape-door:hover .bottom-door {
        transform: translateY(15px);
        width: 100%;
    }

    /* ----Technology-end--- */


    /* ----Feature-start--- */

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item {
        width: 33%;
    }

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item:hover {
        transform: translateY(-20px);
    }

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item-inner h3 {
        font-size: 22px;
    }

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item .home-feature-item-inner p {
        font-size: 17px;
    }

    /* ----Feature-end--- */


    /* ----AboutSection-start--- */

    .home-about-section .home-about-section-inner .home-about-left {
        width: 50%;
    }

    .home-about-section .home-about-section-inner .home-about-right {
        width: 50%;
    }

    .home-about-section .home-about-section-inner .home-about-left .center-text-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .home-about-section .home-about-section-inner .home-about.home-about-left .content1 {
        font-size: 17px;
    }

    .home-about-section .home-about-section-inner .home-about-left .progress .skill-percantage p {
        font-size: 18px;
    }

    .home-about-section .home-about-section-inner .home-about-left .progress .skill-percantage span {
        font-size: 17px;
    }

    .home-about-section .home-about-section-inner .home-about-left .progress .progress-bar {
        height: 8px;
    }

    .home-about-section .home-about-section-inner .home-about-left .progress .progress-bar .skill-progress90,
    .skill-progress75,
    .skill-progress85 {
        height: 8px;
    }

    .home-about-section .home-about-section-inner .home-about-left .learns-more-btn-div .message-button {
        margin-top: 30px;
    }

    .home-about-section .home-about-section-inner .home-about-right img {
        width: 100%;
        height: 100%;
    }

    /* ----AboutSection-end--- */


    /* ----Overview-start--- */

    .home-overview-section .home-overview-inner .home-overview-left {
        width: 50%;
        height: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right {
        width: 50%;
        height: 100%;
        padding-top: 35px;
    }

    .home-overview-section .home-overview-inner .home-overview-left img {
        width: 100%;
        height: 100%;
        padding-top: 0px;
    }

    /* ----Overview-end--- */


    /* ----PortfolioSectionHomePage-start--- */

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner {
        justify-content: space-evenly;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item {
        width: 31%;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img {
        width: 100%;
    }

    .home-portfolio-item .home-portfolio-img .img-overlay {
        width: 382px;
    }

    .img-overlay-inner p {
        font-size: 16px;
    }

    .img-overlay-inner a {
        font-size: 21px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .bar-dots .dot {
        height: 11px;
        width: 11px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .browser-bar .bar-url {
        font-size: 16px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .browser-bar {
        padding: 11px 10px;
        height: 55px;
    }



    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img .browser-bar .bar-url {
        height: 29px;
        line-height: 29px;
    }

    /* ----PortfolioSectionHomePage-end--- */


    /* ----BusinessStats_section-start--- */

    .home-number-count-area .home-number-count-area-inner {
        padding: 120px 40px;
    }

    .home-number-count-area .home-number-count-area-inner .counter-div {
        width: 25%;
    }

    .home-number-count-area .home-number-count-area-inner .counter-div .counter-div-inner h2 {
        margin-bottom: 10px;
    }

    /* ----BusinessStats_section-end--- */


    /* ---blog-section---start--- */

    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item img {
        width: 100%;
        height: auto;
        width: 32%;
    }

    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item {
        height: 552px;
        width: 33%;
    }

    /* ---blog-section---end--- */


    /* ---Testimonial-section---start--- */

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner {
        gap: 18px;
        flex-wrap: wrap;
    }

    /* ---Testimonial-section---end--- */


    /* ---Team-section---start--- */

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner {
        gap: 25px;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member .home-team-member-inner .home-team-img {
        width: 100%;
        height: 100%;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member .home-team-member-inner .home-team-img {
        /* width: 261px; */
        /* height: 294px; */
    }

    /* ---Hire_section-section---end--- */
    .home-hire-section .home-hire-section-inner .center-text-heading br {
        display: none;
    }

    .home-hire-section .home-hire-section-inner {
        padding: 0px 320px;
    }

    /* ---Hire_section-section---end--- */
    /* ---Partner-section---start--- */
    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
        max-width: 19%;
        height: 117px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-upper .center-text-heading {
        font-size: 40px;
    }

    /* ---Partner-section---end--- */
    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div {
        width: 636px;
        height: 49px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div .email-box {
        width: 71%;
        height: 49px;
    }

}


@media only screen and (min-width:992px) and (max-width: 1400px) {
    .container {
        max-width: 1140px;
        display: block;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .hero-section {
        padding-top: 60px;
    }

    .hero-section {
        top: 140px;
        height: 705px;
    }

    .header {
        background-color: rgba(31, 48, 129, 0.3);
        opacity: 0.985;
        z-index: 4;
    }

    .header .header-content .logo-section {
        flex: 0 0;
    }

    .header .header-content #logo {
        max-width: 171px;
        height: 35px;
    }

    .header .header-content .menu-box {
        display: none;
    }

    .header .header-content .menu-list {
        display: flex;
        justify-content: center;
        list-style: none;
        line-height: 4.5;
    }

    .header .header-content .menu-list li {
        margin-left: 0px;
        position: static;
        padding: 0px 15px;
        line-height: 3;
    }

    .header .header-content .menu .menu-list li .menu-item {
        display: block;
    }

    .header .header-content .menu .menu-list li a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: white;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }

    .header .header-content .fa-plus {
        display: none;
    }

    .header .header-content .fa-chevron-down {
        font-size: 10px;
        margin-left: 5px;
        /* margin-bottom: 2px; */
    }

    .header .header-content .menu .menu-list .menu-item {
        display: block;
        align-items: center;
        /* justify-content: center; */
        padding: 0px 0px 0px 0px;
        /* color: white; */
        width: fit-content;
    }

    .header .header-content .menu .menu-list li .submenu li {
        border-bottom: 1px solid #f1f1f1;
        padding: 0;
    }

    .header .header-content .menu .menu-list li .submenu li:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .header .header-content .menu .menu-list li .submenu li a {
        width: 197px;
        padding: 10px 15px;
        color: #404040;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0px 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 43px;
        transition: 0s;
    }

    .header .header-content .menu .menu-list li .submenu li:last-child a {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .header .header-content .menu .menu-list li .submenu li a:hover {
        background-color: #7b68ee;
        color: #fff;
        transition: all 0.15s ease-in-out;
    }


    .header .header-content .menu .menu-list li .submenu {
        visibility: hidden;
        background-color: white;
        position: absolute;
        background-color: #fff;
        border-top: 2px solid #7b68ee;
        margin: -6px 0 0 1px;
        padding: 0;
        list-style: none;
        z-index: 2;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translateY(23px);
        transition: transform 0.5s ease-in-out;
        margin-left: -15px;
    }

    .header .header-content .menu .menu-list li:hover .submenu {
        visibility: visible;
        transform: translateY(8px);
        transition: transform 0.5s ease-in-out;
    }

    .header .header-content .menu .menu-list li .submenu li a {
        color: #212529;
    }
}


@media only screen and (min-width: 768px) and (max-width:992px) {

    .container {
        max-width: 720px;
        display: block;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .main-body::before {
        background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
        margin-top: -0px;
        height: 950px;
    }

    .hero-section {
        z-index: 0;
    }

    .hero-section .hero-section-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    #action-button {
        visibility: collapse;
    }

    .header .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header-content .menu-box {
        display: block;
    }

    .header .header-content .menu-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
    }

    .header .header-content .menu-box .fa-solid.fa-bars {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu-box .fa-solid.fa-xmark {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu {
        z-index: 5;
        background-color: white;
        width: 720px;
        position: absolute;
        top: 74px;
        max-height: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        visibility: hidden;
    }

    .header .header-content .menu.menu-open {
        max-height: 272px;
        overflow-y: scroll;
        visibility: block;
        visibility: visible;
        /* width: 539px; */
    }

    .header .header-content .menu .menu-list li {
        margin-left: 30px;
        position: relative;
        width: 100%;
        margin: 0;
        border-top: 1px solid #DBEEFD;
    }

    .header .header-content .menu .menu-list li .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        position: relative;
    }

    .header .header-content .menu .menu-list li a {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
        padding: 10px 10px 10px 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li .menu-item a i {
        margin-left: 5px;
    }

    .header .header-content .menu .menu-list li .submenu {
        background-color: #fff;
        list-style: none;
        border-radius: 4px;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    }

    .header .header-content .menu .menu-list li .submenu.open {
        max-height: 500px;
    }

    .header .header-content .menu .menu-list li .submenu li {
        padding: 0px 0px 0px 80px;
        font-size: 18px;
    }



    .header .header-content .menu .menu-list li .submenu li:nth-child(2) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(6) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(7) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .menu-item span {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
    }

    .header .header-content .menu-open .menu-list {
        display: flex;
        flex-direction: column;
    }

    .header .header-content .menu .menu-list .menu-item .fa-solid.fa-chevron-down {
        display: none;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-plus {
        font-size: 11px;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-times {
        font-size: 11px;
    }
}

@media only screen and (min-width:576px) and (max-width: 768px) {

    .container {
        max-width: 540px;
        box-sizing: border-box;
        padding: 0;
        margin: 0 auto;
        display: block
    }

    .hero-section {
        z-index: 0;
    }

    #action-button {
        visibility: collapse;
    }

    .header .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header-content .menu-box {
        display: block;
    }

    .header .header-content .menu-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
    }

    .header .header-content .menu-box .fa-solid.fa-bars {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu-box .fa-solid.fa-xmark {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu {
        z-index: 5;
        background-color: white;
        width: 720px;
        position: absolute;
        top: 74px;
        max-height: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        visibility: hidden;
    }

    .header .header-content .menu.menu-open {
        max-height: 272px;
        overflow-y: scroll;
        visibility: block;
        visibility: visible;
        width: 539px;
    }

    .header .header-content .menu .menu-list li {
        margin-left: 30px;
        position: relative;
        width: 100%;
        margin: 0;
        border-top: 1px solid #DBEEFD;
    }

    .header .header-content .menu .menu-list li .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        position: relative;
    }

    .header .header-content .menu .menu-list li a {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
        padding: 10px 10px 10px 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li .menu-item a i {
        margin-left: 5px;
    }

    .header .header-content .menu .menu-list li .submenu {
        background-color: #fff;
        list-style: none;
        border-radius: 4px;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    }

    .header .header-content .menu .menu-list li .submenu.open {
        max-height: 500px;
    }

    .header .header-content .menu .menu-list li .submenu li {
        padding: 0px 0px 0px 80px;
        font-size: 18px;
    }



    .header .header-content .menu .menu-list li .submenu li:nth-child(2) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(6) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(7) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .menu-item span {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
    }

    .header .header-content .menu-open .menu-list {
        display: flex;
        flex-direction: column;
    }

    .header .header-content .menu .menu-list .menu-item .fa-solid.fa-chevron-down {
        display: none;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-plus {
        font-size: 11px;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-times {
        font-size: 11px;
    }

    /* -----header-end------ */

    /* -----hero--section--start----- */

    .main-body::before {
        background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
        margin-top: -0px;
        height: 1000px;
    }

    .hero-section {
        background-color: transparent;
    }

    .hero-section .hero-section-inner {
        width: 100%;
        height: 643px;
        display: flex;
        flex-direction: column;
    }

    .hero-section-right {
        /* display: none; */
    }

    .hero-left-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left-inner h1 {
        font-size: 45px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .hero-left-inner h1 br:nth-child(1) {
        display: none;
    }

    .hero-left-inner h1 br:nth-child(2) {
        display: block;
    }

    .hero-left-inner h1 br:nth-child(3) {
        display: none;
    }

    .hero-left-inner p {
        text-align: center;
        margin-bottom: 0px;
    }

    .social-icon-list {
        justify-content: center;
        margin-bottom: 10px;
    }

    .social-icon-list a {
        margin: 5px 8px 5px 5px;
    }

    .hero-section .hero-section-inner .hero-section-left .hero-left-inner .button-partition {
        margin-top: 20px;
        justify-content: center;
    }

    .hero-section .hero-section-inner .hero-section-left .hero-left-inner .button-partition .hero-section-buttons {
        margin-top: 0px;
    }

    .hero-section .hero-section-inner .hero-right-inner img {
        /* width: 546px;
        height: 540px; */
    }

    /* -----hero--section--end----- */


    /* -----Home--service-section--start----- */

    .home-service-section .home-service-section-inner .home-service-middle-inner {
        flex-wrap: wrap;
    }

    .home-service-section .home-service-section-inner .home-service-middle-inner .home-service-middle-item {
        width: 96%;
        height: auto;
    }

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner {
        justify-content: space-between;
        margin-top: 30px;
    }

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner .home-service-item {
        width: 100%;
        height: auto;
    }

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner .home-service-item .home-service-item-inner {
        margin-top: 10px;
    }

    /* -----Home--service-section--end----- */


    /* -----Home--Feature-section--Start----- */

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item {
        width: 100%;
    }

    /* -----Home--Feature-section--end----- */




    /* -----Home--About-section--start----- */

    .home-about-section .home-about-section-inner {
        flex-direction: column;
    }

    .home-about-section .home-about-section-inner .home-about-right {
        width: 100%;
        margin-top: 40px;
    }

    .home-about-section .home-about-section-inner .home-about-left {
        width: 100%;
    }

    .home-about-section .home-about-section-inner .home-about-left .center-text-heading {
        margin-top: -10px;
        font-size: 35px;
    }

    .home-about-section .home-about-section-inner .home-about-left br {
        display: none;
    }

    .home-about-section .home-about-section-inner .home-about.home-about-left .content1 {
        margin-bottom: 20px;
    }

    .home-about-section .home-about-section-inner .home-about-right img {
        width: 100%;
        height: 100%;
    }

    /* -----Home--service-section--end----- */

    /* -----Home--Overview-section--Start----- */

    .home-overview-section .home-overview-inner .home-overview-left {
        width: 100%;
        height: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right {
        width: 100%;
        height: 100%;
        margin-top: 32px;
    }


    .home-overview-section .home-overview-inner .home-overview-right .center-text-heading {
        font-size: 35px;
    }

    .home-overview-section .home-overview-inner .home-overview-right .center-text-heading br {
        display: none;
    }


    .home-overview-section .home-overview-inner {
        flex-direction: column;
    }

    .home-overview-section .home-overview-inner .home-overview-left img {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 22px;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner .feature-list-item {
        width: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner {
        width: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner .feature-list-item:nth-child(2n+1) {
        margin: 18px 0px 0px 0px;
    }

    .home-overview-section {
        padding: 100px 0px 0px 0px;
    }

    /* -----Home--Overview-section--end----- */


    /* -----Home--PortfolioSectionHomePage--start----- */

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner {
        gap: 20px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-middle {
        margin-bottom: 25px;
    }

    .home-portfolio-middle-inner .home-portfolio-list .nav li:nth-child(5) {
        margin-top: 20px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-upper .center-text-heading {
        font-size: 35px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item {
        margin-top: 10px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img {
        height: 348px;
        width: 100%;
    }

    .home-portfolio-item .home-portfolio-img .img-overlay {
        width: 93%;
    }

    /* -----Home--PortfolioSectionHomePage--end----- */


    /* -----Home--BussinesStatic-section--start----- */
    .home-number-count-area .home-number-count-area-inner {
        padding: 120px 90px;
        flex-wrap: wrap;
    }

    /* -----Home--BussinesStatic-section--end----- */


    /* -----Home--Blog-section--start--- */

    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item {
        height: 558px;
        margin-bottom: 30px;
        width: 100%;
    }

    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item img {
        height: 100%;
        height: auto;
    }

    /* -----Home--Blog-section--end--- */


    /* -----Home--Testimonial--Start----- */

    .home-testimonial-section .home-testimonial-upper .testi {
        letter-spacing: 0.5px;
    }

    .home-testimonial-section .home-testimonial-upper .testi1 {
        font-size: 35px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .item:nth-child(3) {
        display: none;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .item:nth-child(2) {
        display: none;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner {
        justify-content: space-evenly;
        gap: 20px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .client-feedback {
        width: 100%;
        height: 425px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .client-feedback .client-feedback-inner {
        padding: 28px 40px;
        line-height: 2.7;
    }

    /* -----Home--Testimonial--end----- */


    /* -----Home--Team--start----- */

    .home-team-section .home-team-inner .home-team-upper .center-text-heading {
        font-size: 35px;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner {
        flex-wrap: wrap;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member .home-team-member-inner .home-team-img {
        width: 100%;
        height: 100%;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member {
        width: 100%;
        margin-bottom: 50px;
    }

    /* -----Home--Team--end----- */


    /* -----Home--Hire-section--end----- */

    .home-hire-section .home-hire-section-inner .center-text-heading {
        font-size: 35px;
    }

    .home-hire-section .home-hire-section-inner .home-hire-text {
        font-size: 15px;
    }

    /* -----Home--Hire-section--end----- */


    /* -----Home--Partners-section--start----- */
    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
        max-width: 29%;
        border: 2px solid #ededed;
        border-radius: 10px;
        margin: 9px;
        margin-top: 15px;
    }

    /* -----Home--Partners-section--end----- */

    /* -----Home--Hire-section--end----- */

    .home-hire-section .home-hire-section-inner0 .Home-hireH {
        font-size: 35px;
    }

    /* -----Home--Hire-section--end----- */

    /* ----Partners-section-start---- */

    .home-partner-section .home-partner-section-inner .home-partner-upper .center-text-heading {
        font-size: 40px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner {
        padding: 0px 0px;
        gap: 20px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
        max-width: 48%;
        margin: 0px;
        margin-top: 0px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item a {
        padding: 5px 20px 0px 20px;
    }

    /* ----Partners-section-end---- */


    /* -----Home--Footer--start----- */

    .gooey-animations {
        height: 243px;
        top: -93px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div {
        width: 500px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div .email-box {
        width: 70%;
        height: 49px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div .subscribe-email-button {
        width: 160px;
        height: 49px;
        font-size: 16px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner {
        flex-wrap: wrap;
    }


    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col1 {
        width: 50%;
        height: auto;
        line-height: 1;
        padding: 0px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col2 {
        width: 50%;
        height: auto;
        padding: 0px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col3 {
        width: 50%;
        height: auto;
        padding: 50px 12px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col4 {
        width: 50%;
        height: auto;
        padding: 50px 12px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col {
        width: fit-content;
        height: fit-content;
        padding: 0px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col1 .social-icon-list {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .main-home-footer .home-footer-inner .home-footer-bottom .home-footer-bottom-inner {
        flex-direction: column;
    }

    .main-home-footer .home-footer-inner .home-footer-bottom .home-footer-bottom-inner p {
        margin-bottom: 8px;
    }

    /* -----Home--Footer--end----- */
}

@media only screen and (max-width: 576px) {

    .container {
        max-width: 95%;
        display: block;
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }

    #action-button {
        visibility: collapse;
    }

    .header .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header-content .menu-box {
        display: block;
    }

    .header .header-content .menu-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3px;
    }

    .header .header-content .menu-box .fa-solid.fa-bars {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu-box .fa-solid.fa-xmark {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

    .header .header-content .menu {
        z-index: 5;
        background-color: white;
        width: 720px;
        position: absolute;
        top: 74px;
        max-height: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
        visibility: hidden;
    }

    .header .header-content .menu.menu-open {
        max-height: 272px;
        overflow-y: scroll;
        visibility: block;
        visibility: visible;
        width: 95%;
    }

    .header .header-content .menu .menu-list li {
        margin-left: 30px;
        position: relative;
        width: 100%;
        margin: 0;
        border-top: 1px solid #DBEEFD;
    }

    .header .header-content .menu .menu-list li .menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        position: relative;
    }

    .header .header-content .menu .menu-list li a {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
        padding: 10px 10px 10px 35px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .header-content .menu .menu-list li .menu-item a i {
        margin-left: 5px;
    }

    .header .header-content .menu .menu-list li .submenu {
        background-color: #fff;
        list-style: none;
        border-radius: 4px;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    }

    .header .header-content .menu .menu-list li .submenu.open {
        max-height: 500px;
    }

    .header .header-content .menu .menu-list li .submenu li {
        padding: 0px 0px 0px 80px;
        font-size: 18px;
    }



    .header .header-content .menu .menu-list li .submenu li:nth-child(2) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(6) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .submenu li:nth-child(7) {
        padding: 0px 0px 0px 80px;
    }

    .header .header-content .menu .menu-list li .menu-item span {
        font-size: 18px;
        color: rgb(16, 24, 52);
        font-size: 16px;
        font-weight: 500;
    }

    .header .header-content .menu-open .menu-list {
        display: flex;
        flex-direction: column;
    }

    .header .header-content .menu .menu-list .menu-item .fa-solid.fa-chevron-down {
        display: none;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-plus {
        font-size: 11px;
    }

    .header .header-content .menu .menu-list .menu-item a .fas.fa-times {
        font-size: 11px;
    }

    /* -----hero--section--start----- */




    .main-body::before {
        background: linear-gradient(to bottom, #370b6f, #00429b, #006dba, #0095ce, #2dbcdc);
        margin-top: -0px;
        height: 1100px;
    }

    .hero-section {
        z-index: 0;
    }

    .hero-section {
        background-color: transparent;
    }

    .hero-section .hero-section-inner {
        width: 100%;
        height: 643px;
        display: flex;
        flex-direction: column;
    }

    .hero-section-right {
        /* display: none; */
    }

    .hero-left-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-left-inner h1 {
        font-size: 45px;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .hero-left-inner h1 br:nth-child(1) {
        display: none;
    }

    .hero-left-inner h1 br:nth-child(2) {
        display: block;
    }

    .hero-left-inner h1 br:nth-child(3) {
        display: none;
    }

    .hero-left-inner p {
        text-align: center;
        margin-bottom: 0px;
    }

    .social-icon-list {
        justify-content: center;
        margin-bottom: 10px;
    }

    .social-icon-list a {
        margin: 5px 8px 5px 5px;
    }

    .hero-section .hero-section-inner .hero-section-left .hero-left-inner .button-partition {
        margin-top: 20px;
        justify-content: center;
    }

    .hero-section .hero-section-inner .hero-section-left .hero-left-inner .button-partition .hero-section-buttons {
        margin-top: 0px;
    }

    .hero-section .hero-section-inner .hero-right-inner img {
        /* width: 546px;
        height: 540px; */
    }

    /* -----hero--section--end----- */


    /* -----Home--service-section--start----- */

    .home-service-section .home-service-section-inner .home-service-middle-inner {

        flex-wrap: wrap;
    }

    .home-service-section .home-service-section-inner .home-service-middle-inner .home-service-middle-item {
        width: 96%;
        height: auto;
    }

    .home-service-section .home-service-section-inner .home-service-middle-inner .home-service-middle-item:nth-child(3) {
        display: none;
    }

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner {
        justify-content: space-between;
        margin-top: 10px;
        padding: 0px 12px 12px 12px;
    }

    .home-service-section .home-service-section-inner .home-service-bottom .home-service-bottom-inner .home-service-item {
        width: 100%;
    }

    /* -----Home--service-section--end----- */


    /* -----Home--About-section--start----- */

    .home-about-section .home-about-section-inner {
        flex-direction: column;
    }

    .home-about-section .home-about-section-inner .home-about-left .center-text-heading {
        margin-top: -10px;
        font-size: 35px;
    }

    .home-about-section .home-about-section-inner .home-about-right {
        width: 100%;
        margin-top: 40px;
    }

    .home-about-section .home-about-section-inner .home-about-left {
        width: 100%;
    }

    .home-about-section .home-about-section-inner .home-about-left br {
        display: none;
    }

    .home-about-section .home-about-section-inner .home-about-right img {
        width: 100%;
        height: 100%;
    }

    .home-about-section .home-about-section-inner .home-about.home-about-left .content1 {
        margin-bottom: 20px;
    }


    /* -----Home--service-section--end----- */

    /* ---Feature-section-start---- */

    .home-feature-section .home-feature-section-inner .home-feature-bottom .home-feature-bottom-inner .home-feature-item {
        width: 100%;
    }

    /* ---Feature-section-end---- */

    /* -----Home--Overview-section--Start----- */

    .home-overview-section .home-overview-inner .home-overview-left {
        width: 100%;
        height: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right {
        width: 100%;
        height: 100%;
        margin-top: 32px;
    }

    .home-overview-section .home-overview-inner .home-overview-right .center-text-heading br {
        display: none;
    }

    .home-overview-section .home-overview-inner .home-overview-right .center-text-heading {
        font-size: 35px;
    }


    .home-overview-section .home-overview-inner {
        flex-direction: column;
    }

    .home-overview-section .home-overview-inner .home-overview-left img {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 22px;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner .feature-list-item {
        width: 100%;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner {
        width: 100%;
    }

    .home-overview-section {
        padding: 100px 0px 0px 0px;
    }

    .home-overview-section .home-overview-inner .home-overview-right .feature-list .feature-list-inner .feature-list-item:nth-child(2n+1) {
        margin: 18px 0px 0px 0px;
    }

    /* -----Home--Overview-section--end----- */


    /* -----Home--PortfolioSectionHomePage--start----- */

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner {
        gap: 20px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-middle {
        margin-bottom: 25px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item {
        margin-top: 10px;
    }

    .home-portfolio-middle-inner .home-portfolio-list .nav li:nth-child(5) {
        margin-top: 20px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-upper .center-text-heading {
        font-size: 35px;
    }

    .home-portfolio .home-portfolio-inner .home-portfolio-down .home-portfolio-down-inner .home-portfolio-item .home-portfolio-img {
        height: 348px;
        width: 100%;
    }

    .home-portfolio-item .home-portfolio-img .img-overlay {
        width: 93%;
    }


    /* -----Home--PortfolioSectionHomePage--end----- */
    /* 
    

    -----Home--BussinessStatistic--start----- */
    .home-number-count-area .home-number-count-area-inner {
        padding: 120px 90px;
        flex-wrap: wrap;
    }

    /*-----Home--BussinessStatistic--end----- */
    /* 
    
    -----Home--Blog-section--start--- */
    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item {
        height: 589px;
        margin-top: 30px;
    }

    .home-blog .home-blog-inner .home-blog-down .home-blog-down-inner .home-blog-item img {
        height: 100%;
        height: auto;
    }

    /* -----Home--Blog-section--end--- */


    /* -----Home--Testimonial--Start----- */

    .home-testimonial-section .home-testimonial-upper .testi {
        letter-spacing: 0.5px;
    }

    .home-testimonial-section .home-testimonial-upper .testi1 {
        font-size: 35px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .item:nth-child(3) {
        display: none;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .item:nth-child(2) {
        display: none;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner {
        justify-content: space-evenly;
        gap: 20px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .client-feedback {
        width: 100%;
        height: 425px;
    }

    .home-testimonial-section .home-testimonial-bottom .home-testimonial-bottom-inner .client-feedback .client-feedback-inner {
        padding: 28px 40px;
        line-height: 2.7;
    }

    /* -----Home--Testimonial--end----- */


    /* -----Home--Team--start----- */

    .home-team-section .home-team-inner .home-team-upper .center-text-heading {
        font-size: 35px;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner {
        flex-wrap: wrap;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member .home-team-member-inner .home-team-img {
        width: 100%;
        height: 100%;
    }

    .home-team-section .home-team-inner .home-team-lower .home-team-lower-inner .home-team-member {
        width: 100%;
        margin-bottom: 50px;
    }

    /* -----Home--Team--end----- */


    /* -----Home--Hire-section--end----- */

    .home-hire-section .home-hire-section-inner .center-text-heading {
        font-size: 35px;
    }

    .home-hire-section .home-hire-section-inner .home-hire-text {
        font-size: 15px;
    }

    /* -----Home--Hire-section--end----- */


    /* -----Home--Partners-section--start----- */
    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
        max-width: 29%;
        border: 2px solid #ededed;
        border-radius: 10px;
        margin: 9px;
        margin-top: 15px;
    }

    /* -----Home--Partners-section--end----- */

    /* -----Home--Hire-section--end----- */

    .home-hire-section .home-hire-section-inner0 .Home-hireH {
        font-size: 35px;
    }

    /* -----Home--Hire-section--end----- */

    /* ----Partners-section-start---- */

    .home-partner-section .home-partner-section-inner .home-partner-upper .center-text-heading {
        font-size: 40px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner {
        padding: 0px 0px;
        gap: 20px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item {
        max-width: 48%;
        margin: 0px;
        margin-top: 0px;
    }

    .home-partner-section .home-partner-section-inner .home-partner-down .home-partner-down-inner .home-partner-item a {
        padding: 5px 20px 0px 20px;
    }

    /* ----Partners-section-end---- */


    /* -----Home--Footer--start----- */

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div {
        width: 500px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div .email-box {
        width: 70%;
        height: 49px;
    }

    .main-home-footer .home-footer-inner .home-footer-top .home-footer-top-inner .home-footer-top-inner-right .subscribe-email-div .subscribe-email-button {
        width: 160px;
        height: 49px;
        font-size: 16px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner {
        flex-wrap: wrap;
    }


    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col1 {
        width: 100%;
        height: auto;
        line-height: 1;
        padding: 0px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col2 {
        width: 100%;
        height: auto;
        padding: 25px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col3 {
        width: 100%;
        height: auto;
        padding: 0px 12px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col4 {
        width: 100%;
        height: auto;
        padding: 25px 12px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle {
        padding: 40px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col {
        width: fit-content;
        height: fit-content;
        padding: 0px 12px;
    }

    .main-home-footer .home-footer-inner .home-footer-middle .home-footer-middle-inner .col1 .social-icon-list {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .main-home-footer .home-footer-inner .home-footer-bottom .home-footer-bottom-inner {
        padding: 20px 0px;
    }

    .main-home-footer .home-footer-inner .home-footer-bottom .home-footer-bottom-inner {
        flex-direction: column;
    }

    .main-home-footer .home-footer-inner .home-footer-bottom .home-footer-bottom-inner p {
        margin-bottom: 8px;
    }

    /* -----Home--Footer--end----- */
}