.team-section {
    height: auto;
    padding: 100px 0px;
    margin: 0 auto;
}

.team-section .team-inner {
    width: 100%;
}

.team-section .team-inner .team-upper {
    height: 93px;
}

.team-section .team-inner .team-upper .center-text-title {
    width: 100%;
    color: #ff9800;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: "Dosis", sans-serif;
    text-align: center;
}

.team-section .team-inner .team-upper .center-text-heading {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 15px;
    color: #404040;
    font-size: 38px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
}

.team-section .team-inner .team-lower {
    width: 100%;
    height: auto;
}

.team-section .team-inner .team-lower .team-lower-inner {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member {
    margin-top: 30px;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner {
    text-align: center;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 261px;
    height: 294px;
    margin: 0 auto;
    border-radius: 5px;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img:hover img {
    transform: scale(1.1);
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img:hover .team-social-icon-list {
    opacity: 1;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list a {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 18px;
    color: #fcfcfc;
    background-color: transparent;
    text-decoration: none;
    transform: scale(0.5);
    transition: transform 0.3s ease-in-out;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img:hover .team-social-icon-list a {
    transform: scale(1);
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list a:hover {
    border: 1px solid #7b68ee;
    background-color: #7b68ee;
    transition: all 0.3s ease-in-out;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list a:nth-child(1):hover {
    border: 1px solid #1877f2;
    background-color: #1877f2;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(24, 119, 242, 1) 0px 0px 100px;

}
.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list a:nth-child(2):hover {
    border: 1px solid #000000;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 1) 0px 0px 100px;

}
.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-img .team-social-icon-list a:nth-child(3):hover {
    border: 1px solid #0077b5;
    background-color: #0077b5;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 119, 181, 1) 0px 0px 100px;

}


.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info {
    margin-top: 10px;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info {
    width: 100%;
    height: auto;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info .team-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info .team-post {
    display: block;
    font-size: 16px;
    color: #888;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info .team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
}

.team-section .team-inner .team-lower .team-lower-inner .team-member .team-member-inner .team-info .team-post {
    align-items: center;
    justify-content: center;
    color: #7b68ee;
    font-size: 16px;
    font-family: "Catamaran", sans-serif;
    font-weight: 500;
}