.portfolio-details {
    padding: 100px 0px;
}

.portfolio-inner .portfolio-details-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 30px;

}

.portfolio-details .portfolio-inner .portfolios-details-desc h3 {
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 25px;
    margin-bottom: 13px;
    color: #212121;
}

.portfolio-details .portfolio-inner .portfolios-details-desc p {
    color: #5f5f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.2px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 30px;
}

.portfolio-details .portfolio-inner .portfolios-details-desc h4 {
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 20px;
    margin-bottom: 13px;
    color: #212121;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social {
    padding: 0;
    padding-left: 0px;
    list-style: none;
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social li {
    display: inline-block;
    margin-right: 8px;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social li a {
    color: #7b68ee;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    border: 1px solid #7b68ee;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social li a:hover {
    background-color: #7b68ee;
    color: #fff;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .social li a i {
    font-weight: 400;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part .default-btn {
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 5px;
    display: inline-block;
    background-color: #7b68ee;
    box-shadow: 0 7px 25px rgb(123, 104, 238, 0.25);
    margin-top: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: none;
    text-decoration: none;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part h4 {
    font-weight: 700;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
    color: black;
}

.portfolio-details .portfolio-inner .portfolios-details-desc .bottom-info-part .info-part-inner .info-part span {
    display: block;
    color: #5f5f5f;
    font-size: 16px;
}